header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
}

footer {
  border-top: 2px solid #ccc;
  padding: 24px 0;
  margin-bottom: 24px;
}

footer p {
  font-size: 12px;
  text-align: right;
}

.container {
  padding: 0 15%;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
}

.main_visual {
  text-align: center;
  background-image: url("/img/main-vsual-nontitle.png");
  background-size: cover;
  padding: 128px 0;
}

.main_visual_title {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px
}

.main_visual_text {
  font-weight: bold;
  margin-top: 32px;
  line-height: 24px;
}

.section {
  padding: 64px 0;
}

.section_title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.about {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.about_child {
  width:100%;
}

.course {
  margin-top: 32px;
}

.course_list {
  display: flex;
  gap: 48px;
}

.contact {
  margin-top: 32px;
  text-align: center;
}

.contact p {
  font-size: 14px;
}

.contact_input {
  width: 420px;
  padding: 12px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 50px;
  display: block;
}

.contact_button {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 108, 75);
  padding: 20px 72px;
  margin-top: 24px;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 5%;
  }

  header {
    display: block;
  }

  .title {
    text-align: center;
  }

  .menu {
    font-size: 12px;
    justify-content: center;
    margin-top: 24px;
  }
  
  .main_visual_text {
    font-weight: normal;
  }

  .about {
    display: block;
  }

  .about_text {
    letter-spacing: 3px;
    margin-top: 24px;
  }

  .course_list {
    display: grid;
  }

  .course_list p {
    margin-top: 8px;
  }
  
  .contact_input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 32px;
  }

  .contact_button {
    width: 100%;
  }
}